[submodule "lib/FNA"]
	path = lib/FNA
	url = https://github.com/FNA-XNA/FNA
[submodule "lib/SharpGLTF"]
	path = lib/SharpGLTF
	url = https://github.com/wattsyart/SharpGLTF
[submodule "lib/Tomlyn"]
	path = lib/Tomlyn
	url = https://github.com/wattsyart/Tomlyn
